<hp-header>

</hp-header>

<div class="braiders">

    <h1>BRAIDERS</h1>

    <div class="container">

        <hp-braider profileImageUrl="braiders/braider-1.jpg" profileName="Ursula Stephen"/>

        <hp-braider profileImageUrl="braiders/braider-2.jpg" profileName="Kim Kimble"/>

        <hp-braider profileImageUrl="braiders/braider-3.jpg" profileName="Felicia Leatherwood"/>

        <hp-braider profileImageUrl="braiders/braider-4.jpg" profileName="Tippi Shorter"/>

        <hp-braider profileImageUrl="braiders/braider-5.jpg" profileName="Kiyah Wright"/>

        <hp-braider profileImageUrl="braiders/braider-6.jpg" profileName="Lacy Redway"/>


    </div>


</div>

<hp-footer>
    
</hp-footer>
