<header class="header">
    <div class="container">
        <div class="logo-nav">
            <a routerLink="/" class="logo">
                <img src="logo.png" alt="HairPop Logo">
            </a>
            <ul class="nav">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/braiders">Find Braiders</a></li>
                <li><a routerLink="/hair-styles">Hair Styles</a></li>
                <li><a>About</a></li>
                <li><a>Contact</a></li>
            </ul>
            <div class="menu-icon">☰</div>
        </div>
    </div>
</header>
